<html data-ng-app=portfolio>
<meta content="width=device-width,initial-scale=1,maximum-scale=1" name=viewport>
<title>Cepheus Analytics</title>
<link href=portico.css rel=stylesheet>
<link href=fab.min.css rel=stylesheet>
<link href=media-min-961.css rel=stylesheet>
<link href=media-max-960.css rel=stylesheet>
<link href=media-320.css rel=stylesheet>
<link href=font-awesome-4.6.3/css/font-awesome.min.css rel=stylesheet>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
<link href="only_logo.svg"  rel="shortcut icon" type=image/x-icon> <link href=only_logo.svg rel=icon type=image/x-icon>
<link rel="stylesheet" href="./contactus.css">

<body data-ng-controller=portfolioController>
    <div class=loader-container id=loader-div>
        <div class="loaderImg">
            <img class="blink-image" src="./CEPHEUSFINAL.png" alt="Logo" />
        </div>
        <div>
            Loading...
        </div>
    </div>
    <div class=body-pre></div>
    <div class=body-main><a style=display:none class=go-to-top id=back-to-top>
            <div class=go-to-top><i class="fa fa-chevron-up" aria-hidden=true></i></div>
        </a>
        <div class=header-container>
            <div>
            </div>
            <div class=fab-cont style=display:none>
                <div class="line one" id=one></div>
                <div class="line two" id=two></div>
                <div class="line three" id=three></div>
            </div>
            <div class=top-menu id=top-menu>
                <div class ="logo-container">
                    <img src="./onlylogo.png" alt="Logo" />
                    <div class="cephuesLogo">CEPHEUS</div>
                </div>
                <div class="menu-item-container">
                    
                    <div class=about id=about><a href="./index.html"
                            style=text-decoration:none;color:#000>
                                Home
                        </a></div>
                    <div class=top-menu-sub id=Education data-ng-click="scroller('midsection') ">Why Cepheus Analytics?</div>
                    <div class=top-menu-sub id=Education data-ng-click="scroller('education') ">About Us</div>
                    <div class=top-menu-sub id=Resume )><a style=text-decoration:none;color:#000
                            href=CV_Vaibhav_Tiwari.docx>Solutions</a></div>
                    <div class=top-menu-sub id=Contact><a href="./ContactUs.html"
                            style=text-decoration:none;color:#000>
                            Contact Us
                        </a></div>

                </div>
            </div>
        </div>
        <div class="card-section-container">
          <!--   <div>
                <img class="logo-title" src="./CEPHEUSFINAL.png" alt="Logo" />
            </div> -->
           
            <div>
                <div class="contactusTitle">
                    Contact Us
                </div>
            </div>
            <div class="cardHolder">
                <div class="card-container contact-card-container">
                    <div class=circle_div_container>
                        <div class=circle_icon_container>
                            <div class=circular_div><i class="fa fa-map-marker" aria-hidden=true></i></div>
                        </div>
                        <div class="contact_details_all contactus-details">
                            <div class="sub_text_contact country-title address-title">United Kingdom</div>
                        </div>
                    </div>
                    <div class="address-container">
                        <div>29 Farm Street, Mayfair,</div>
                        <div>London W1J 5RL</div>
                    </div>
                    <div class="address-sep"></div>
                    <div class=circle_div_container>
                        <div class=circle_icon_container>
                            <div class=circular_div><i class="fa fa-map-marker" aria-hidden=true></i></div>
                        </div>
                        <div class="contact_details_all contactus-details">
                            <div class="sub_text_contact country-title address-title">India</div>
                        </div>
                    </div>
                    <div class="address-container">
                        <div>604 ‘B’ Wing, Prathamesh Tower </div>
                        <div>Raghuvanshi Mill Compound</div>
                        <div>Senapati Bapat Marg, Lower Parel (W)</div>
                        <div>Mumbai – 400 013</div>
                    </div>
                </div>
                <div class="card-container contact-card-container  contact-mid  last">
                    <div class=circle_div_container>
                        <div class=circle_icon_container>
                            <div class=circular_div><i class="fa fa-phone" aria-hidden=true></i></div>
                        </div>
                        <div class="contact_details_all contactus-details">
                            <div class="sub_text_contact country-title ">+44-203-129-4884</div>
                        </div>
                    </div>
                    <div class="circle_div_container contact-email">
                        <div class=circle_icon_container>
                            <div class=circular_div><i class="fa fa-envelope" aria-hidden=true></i></div>
                        </div>
                        <div class="contact_details_all contactus-details"><a style=text-decoration:none;color:#000
                                href=mailto:info@cepheusanalytics.com>
                                <div class="sub_text_contact country-title">info@cepheusanalytics.com
                                </div>
                            </a></div>
                    </div>
                </div>
                
                
            </div>
            
        </div>
       
        <div class=footer>
            <div class="copyrights made"><i class="fa fa-copyright" aria-hidden=true></i> Designed and Developed By :
                Vaibhav Tiwari</div>
            <div class=footer_social>
                <div class=social_media_icons><a style=text-decoration:none;color:#fff
                        href=https://twitter.com/vaibhavti target=_blank>
                        <div class=social_icon_container><i class="fa fa-2x fa-twitter"></i></div>
                    </a><a style=text-decoration:none;color:#fff
                        href="https://www.linkedin.com/in/vaibhav-tiwari-69842023?trk=hp-identity-name" target=_blank>
                        <div class=social_icon_container><i class="fa fa-2x fa-linkedin"></i></div>
                    </a><a style=text-decoration:none;color:#fff href=https://www.facebook.com/tvaibhav1204
                        target=_blank>
                        <div class=social_icon_container><i class="fa fa-2x fa-facebook"></i></div>
                    </a><a style=text-decoration:none;color:#fff href=https://www.youtube.com/user/1204vaibhav
                        target=_blank>
                        <div class=social_icon_container><i class="fa fa-2x fa-youtube-play"></i></div>
                    </a></div>
            </div>
        </div>
    </div>
    <script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js> </script> <script
        src=jQuery-1.9.1.js></script>
    <script src=jQqueryKnob.js></script>
    <script src=smooth%20scroll.js></script>
    <script src=inview.js></script>
    <script src=soul.min.js></script>
    <script src=files.js></script>
    <script src=tweenMax.min.js></script>
    <script src=ScrollToPlugin.min.js></script>
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <script src=https://www.gstatic.com/firebasejs/3.0.3/firebase.js> </script> <script
        src=https://www.gstatic.com/firebasejs/live/3.0/firebase.js> </script> <script
        src=https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js> </script>
        
