/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.top-menu{
    background: #fff;
    border-bottom: 1px solid #c7c7c7;
}
.separator  {
    margin-top:100px;
}
/* .logo-title {
    height: 10em;
} */

.contactusTitle{
    font-family: cool;
    font-size: 3em;
    padding: 100px 40px 15px 40px;
    color: rgba(101, 9, 21, 0.7215686274509804);
}
.footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
}
.contact-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 30px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    
}
.circular_div{
    background: none;
}
.contact-email{
    margin-top: 20px;
}
.contact-mid{
    margin-left: 40px;
    padding-bottom: 26px;
}
.contactus-details{
    padding-left:20px;
}
.address-container{
    padding-left: 53px;
    font-size: 0.9em;
    font-style: italic;
    padding-top: 5px;
    color:#222;;
}
.country-title{
    font-size: 0.9em;    
}
.address-sep{
    margin-top: 20px;
}
.circle_div_container{
    -webkit-box-flex:0;
        -ms-flex:0;
            flex:0;
    color: #1a313e;
    font-size:1em;
}
.address-title{
    font-size: 1.3em;
    color: #1a313e;

}

.card-section-container {
    min-height: 100%;
}

.body-main {
 background: url(map.jpg) no-repeat center center scroll;
  background-size: cover;
  /* height: 100%; */
  background-position-x: -30px;
}

@media screen and (max-width: 960px) {
    .contact-card-container{
       justify-content: flex-start;
       min-height: 1px;
    }
    .address-container {
        min-height: 43px;
    }
    .circle_div_container {
        min-height: 33px;
    }
    .card-section-container  {
        background: none;
        min-height: 100%;
            overflow: scroll;
    }
    .contact-mid {
        margin-left: 0;
    }
    .contactusTitle{
       font-size: 2.5em; 
       padding: 15px 40px 15px 20px;
    }
    .separator {
        margin-top: 0px;
    }
    .cardHolder {
        padding: 0px 40px 0px 20px;
        min-height: 200px;
        margin-bottom: 15%;
    }
    .contact-email {
        margin-top: 24px;
    }
    /* .card-container {
        margin-top: 5px;
    } */
}